<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.description %></p>
  </div>
</div>
