<p id="notice"><%= notice %></p>

  <div class="container">
    <h1>Restaurants</h1>
    <div class="row">
      <% @restaurants.each do |r| %>
        <div class="col-xs-12 col-sm-3">
          <%= render "card", restaurant: r %>
        </div>
      <% end %>
    </div>
    <%= link_to 'New Restaurant', new_restaurant_path %>
  </div>






